{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="wrapper max-w-[720px] pt-20 pb-16">
  <div class="mx-auto max-w-[640px] text-center">
    <h1 class="text-[24px] font-medium text-[#000480] md:text-[32px]">パスワードの再設定が完了しました</h1>

    <a href="{% url 'login' %}"
      class="mx-auto mt-16 flex w-full max-w-[560px] items-center justify-center rounded-[14px] bg-[#1565E5] px-5 py-3 text-[16px] font-bold text-white transition hover:opacity-90 md:mt-20">
      ログイン画面に戻る
    </a>
  </div>
</div>
{% endblock %}
