{% load static %}

<article class="
    bg-[#F2F6FF]
    border border-[#d1d1d1]
    rounded-2xl
    p-6
    shadow-sm
  ">
  <div class="flex gap-4">
    <div class="
        w-36
        rounded-md
      ">
      {% if book.book_img %}
      <img src="{{ book.book_img }}" alt="{{ book.book_title }}" class="w-full h-full object-cover" />
      {% else %}
      <img src="{% static 'img/dummy_book.svg' %}" alt="dummy book" class="w-full h-full object-cover rounded-md" />
      {% endif %}
    </div>

    <div class="">
      <div class="flex justify-start overflow-x-hidden min-w-0 w-full js-categories-clip">
        {% if book.categories %}
        <div class="categories js-categories">
          <div class="categories-row js-categories-row">

            <div class="category-row-group-sub">
              {% for category in book.categories.all %}
              <span class="book-category-item rounded-lg px-3">{{ category.category_name }}</span>
              {% endfor %}
            </div>

          </div>
        </div>
        {% endif %}
      </div>

      <h3 class="mt-4 text-base">
        {{ book.book_title }}
      </h3>

      {% if book.author %}
      <p class="mt-2 text-sx text-customGray">
        {{ book.author }}
      </p>
      {% endif %}

      <div class="mt-3 flex items-center gap-1">
        <img src="{% static 'img/star.svg' %}" class="w-4" />

        <span class="text-base">
          {{ book.avg_rating }}
        </span>

        <span class="text-base text-customGray">
          ({{ book.review_count }}件)
        </span>
      </div>

      <a href="{% url 'reviews:create' %}" class="bg-[#0060E7] rounded-lg text-sm text-white px-4 py-2 mt-4">
        この書籍のレビューを書く
      </a>
    </div>
  </div>
</article>